<template name="mainFilter">
	<!-- START Filters -->
	{{> filters}}
	<!-- END Filters -->

	<h3 class="ui center aligned header">
		<i class="camera retro icon"></i>
		Selected Snaps
	</h3>

	<!-- START Deck -->
	<main class="ui four doubling cards" id="snap-deck">
		{{#each deck}}
			<div class="ui teal card">
				<a class="image" href="{{link}}" target="_blank">
					<img src="{{thumb}}" alt="{{hash}}">
				</a>
				<div class="content">
					<div class="description">{{attr}}: {{source}}</div>
					<div class="meta"><span>ID: {{hash}}</span></div>
				</div>
			</div>
		{{/each}}
	</main>
	<!-- END Deck -->
</template>


<template name="filters">
	<div class="ui grid snap-filter-list">
		<nav class="ten-wide-computer eight-wide-tablet sixteen-wide-mobile column">
			<span>
				<h5>Category</h5>
				<select class="ui dropdown" id="snap-filter1">
					{{#each f1Opt}}
						<option value="{{fValue}}">{{fName}}</option>
					{{/each}}
				</select>
			</span>
			<span>
				<h5>Subcategory</h5>
				<select class="ui disabled dropdown" id="snap-filter2">
					{{#each f2Opt}}
						<option value="{{fValue}}">{{fName}}</option>
					{{/each}}
				</select>
			</span>
			<span>
				<h5>Filter(s)</h5>
				<select class="ui disabled dropdown" multiple="" id="snap-filter3">
					{{#each f3Opt}}
						<option value="{{fValue}}">{{fName}}</option>
					{{/each}}
				</select>
			</span>
		</nav>
		<div class="six-wide-computer eight-wide-tablet sixteen-wide-mobile column">
			<span>
				<h5>Sort By</h5>
				<select class="ui dropdown" id="snap-sort">
					<option value="date,desc">Newest</option>
					<option value="date,asc">Oldest</option>
					<option value="popularity,desc">Popular</option>
					<option value="popularity,asc">Obscure</option>
				</select>
			</span>
			<div class="ui button" id="snap-go">Filter</div>
		</div>
	</div>
</template>