<template name="mainFilter">
	<!-- START Filters -->
	{{> filters}}
	<!-- END Filters -->

	<h3 class="ui center aligned header">
		<i class="camera retro icon"></i>
		Selected Snaps
	</h3>

	<!-- START Deck -->
	<main class="ui four stackable cards">
		{{#each deck}}
		{{/each}}
	</main>
	<!-- END Deck -->
</template>


<template name="filters">
	<div class="ui four column middle aligned doubling grid snap-filter-list">
		<nav>
			<select class="ui dropdown" id="snap-filter1">
				{{#each f1Opt}}
					<option value="{{fValue}}">{{fName}}</option>
				{{/each}}
			</select>
			<select class="ui disabled dropdown" id="snap-filter2">
				{{#each f2Opt}}
					<option value="{{fValue}}">{{fName}}</option>
				{{/each}}
			</select>
			<select class="ui disabled dropdown" multiple="" id="snap-filter3">
				{{#each f3Opt}}
					<option value="{{fValue}}">{{fName}}</option>
				{{/each}}
			</select>
		</nav>
		<select class="ui dropdown" id="snap-sort">
			<option value="new">Newest</option>
			<option value="old">Oldest</option>
			<option value="pop">Popular</option>
			<option value="obc">Obscure</option>
		</select>
	</div>
</template>