<template name="ApplicationLayout">
	{{> header}}

	{{> yield}}
</template>

<template name="header">
	<header class="ui three item stackable menu">
		<div class="item">
			<img src="/snapback.svg" class="ui image snap-logo" alt="Snapback Logo">
		</div>
		<div class="item snap-search">
			<div class="ui transparent labeled icon input">
				<div class="ui label">Search | </div>
				<input type="text" name="search" placeholder="via ID only" maxlength="6">
				<i class="circular search link icon"></i>
			</div>
		</div>
		<div class="item">
		</div>
	</header><!-- /header -->
</template>